extends layout

block content
  form(id = "frmpost")
    input(type="button" id = "goo2" value="グー" onclick="goo();btn_invalid()")
    input(type="button" id = "tyoki2" value="チョキ" onclick="tyoki();btn_invalid()")
    input(type="button" id = "par2" value="パー" onclick="par();btn_invalid()")
    input(type="button" value="もう一回" onclick="rs()")
  h2(id="winorlose")
  ul(id="msglist")